
body {
    /* background: #013001 url("../../images for apps/images/sea.jfif") no-repeat center; */
    /* background-color: #0a241b; */
    background-image: url("../../images for apps/images/relax.jpg");
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: column;
    align-items: center; 
}
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 300px;
    width: 300px;
}
.circle {
    height: 60%;
    width: 60%;
    border-radius: 50%;
    /* background:  conic-gradient(pink ,pink 60deg,#f45570 60deg,#f45570 120deg,pink 120deg,pink 180deg,#f45570 180deg,#f45570 240deg,pink 240deg,pink 300deg,#f45570 300deg); */
    /* background-image: url(); */
    background-color: #c4e4f9;
    position: absolute;
    
}
.outercircle {
    background: conic-gradient(blue 0deg,blue 150deg,#fff 150deg,#ffffff 210deg, #1fade6 210deg);
    height: 70%;
    width: 70%;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
}
.pointer {
    background-color: #4b758f;
    height: 15px;
    display: block;
    border-radius: 50%;
    width: 15px;
}
#pointer-container {
    position: absolute;
    top: -10px;
    height: 150px;
    width: 20px;
    animation-name: rotate;
    animation-duration: 12s;
    animation-timing-function: linear; /*The animation has the same speed from start to end	*/
    animation-iteration-count: infinite; 
    transform-origin: center bottom; 
}
@keyframes rotate {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
  }
.grow {
    animation-name: grow;
    animation-duration: 4s;
    animation-timing-function: linear; /*The animation has the same speed from start to end	*/
    animation-fill-mode: forwards;
}
@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    };
}
.shrink {
    animation-name: shrink;
    animation-duration: 4s;
    animation-timing-function: linear; /*The animation has the same speed from start to end	*/
    animation-fill-mode: forwards;
}
@keyframes shrink {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}
#text {
    z-index: 1;
}
#button-container {
    height: 80%;
    width: 80%;
    margin-left: 45%;

}
button {
    border-radius: 12px;
    width: 15%;
    height: 10%;
    border: 1px solid black;
    
}